#content{
    max-width: 1600px;
    margin:0 auto;
}

nav a{
    text-align: center;
    background-color:blue ;
    color:azure ;
    text-decoration: none;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
    background-color:aquamarine ;
    color:orchid ;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background{
    height: 725px;
}

body{
    background-color: rgb(248, 252, 252);
}
header{
    background-color:rgb(248, 252, 252);
}
nav a:hover{
    background-color:rgb(248, 252, 252);
    background-color:cyan ;
    color:darkslateblue ;
}
.book .join{
    background-color:black;
    color:azure ;
    text-decoration: none;
}
.book:hover .join:hover{
    background-color:beige;
}
#background{
    background-color:aqua;
}
.msg{
    background-color:cyan;
}
footer{
    background-color:cornflowerblue
}

.home-title{
    background-color:aliceblue ;
    color:black ;
}

.book:hover, .join:hover{
    background-color:black ;
    color:red ;
}
.msg h2{
    background-color:azure ;
    color:darkblue ;
}
.msg p{
    background-color:azure ;
    color:darkslateblue ;
}
footer h3{
    background-color:cornflowerblue ;
    color:midnightblue ;
}
footer a{
    background-color:azure ;
    color:black ;
    text-decoration: none;
}
footer a:hover{
    background-color:navy ;
    color:azure ;
}
.logo{
    width: 80px
}
.icon{
    width: 80px 
}
#hero-img{
    width:100%
}
footer h3 a:hover{
    text-decoration: underline;
}